

<p>
  <strong>物件名:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @property.comment %>
</p>

<hr>
  <% number = 0 %>
<% @property.nearest_stations.each do |nearest_station|%>
  <h2>最寄駅<% number += 1 %></h2>
  <p>
    <strong>路線名:</strong>
    <%= nearest_station.line %>
  </p>
  <p>
    <strong>駅名:</strong>
    <%= nearest_station.station_name%>
  </p>
  <p>
    <strong>徒歩分数:</strong>
    <%= nearest_station.walk_by %>
  </p>
<% end %>
<%= link_to '編集する', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
